{% extends "AppCoder/padre.html" %}


{% load static %}


{% block titulo %}

Hola bienvenido
                    
{% endblock %}

{% block descripcion %}

<form action="/AppCoder/resultados/" method="GET">

    <input type="text" name="marca" id="marca">

    <input type="submit" value="Buscar">

</form>

<p>Estamos buscando la marca: {{marca}}</p>

{% for instrumento in instrumentos %}

    <p>Nombre: {{instrumento.instrumento}} ---- marca: {{instrumento.marca}}</p>

{% endfor %}

{% endblock %}